<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcame to Html</h1>
    <h1>Welcome to Home</h1>
    <p><a href="/view">Template</a></p>
    <p><a href="/api">API</a></p>
    <pre>
        <%  console.log("template running"); %>

        <%# bu bir yorumdur %>

        <!-- günevli yazdırma-->
        <%= '<b>Test </b>' %>
        
        <%- '<b>Test </b>' %>

        <%% no template %>

        <%- '<b>Test yazı</b>' -%>

    </pre>
  </body>
</html>
